.colored-album-link {
  color: #d0343a;
  font-size: 13px;
  &:hover {
    color: #d0343a !important;
    opacity: 0.7;
  }
}

.album-image-wrapper {
  max-width: 255px;
  width: 100%;

  height: 235px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
